*.o
*.lo
*.la
Makefile
autom4te.cache/
bin
c/lib/libta_lib.a
config.log
config.status
include/stamp-h1
include/ta_config.h
include/ta_config.h.in~
libtool
src/.libs/
src/Makefile
src/ta_abstract/.deps/
src/ta_abstract/.libs/
src/ta_abstract/Makefile
src/ta_common/.deps/
src/ta_common/.libs/
src/ta_common/Makefile
src/ta_func/.deps/
src/ta_func/.libs/
src/ta_func/Makefile
src/tools/Makefile
src/tools/gen_code/.deps/
src/tools/gen_code/Makefile
src/tools/gen_code/gen_code
src/tools/ta_regtest/.deps/
src/tools/ta_regtest/.libs/
src/tools/ta_regtest/Makefile
src/tools/ta_regtest/ta_regtest
ta-lib-config
ta-lib.dpkg
ta-lib.spec

